<div class="container">
    <div class="row form-wrapper">
        <h1>Contact us</h1>
        <%= bootstrap_form_for @message, :html => {class: "col-sm-6"} do |f| %>
            <%= f.text_area :message, label: "Enter a message" %>
            <div class="col-sm-6 message-name"><%= f.text_field :name, label: "Your name" %></div>
            <div class="col-sm-6 message-email"><%= f.email_field :email, label: "Your Email" %></div>
            <div class="recaptcha"><%= recaptcha_tags %></div>
            <div><%= f.submit "Send", class: "btn btn-info" %></div>
        <% end %>
    </div>
</div>