<% if super? %> <!-- if super user, show vendors and references-->
<div class="row">
	<div class="col-md-6">
		<h1>Vendors</h1>
		<% @vendors.each do |x| %>
		<ul>
			<li><%= link_to x.name, vendor_path(x) %></li>
		</ul>
		<% end %>
	</div>
	<div class="col-md-6">
		<h1>References</h1>
		<% @references.each do |x| %>
		<ul>
			<li><%= link_to x.full_ref, reference_path(x) %></li>
		</ul>
		<% end %>
	</div>
</div>
<% elsif admin? %><!-- else if admin, show products and users-->
<div class="row">
	<% if params[:notice]%>
		<p><%= params[:notice]%></p>
	<% end %>
	<div class="col-md-6">
		<h1>Products     <small><%= link_to "Add New", new_vendor_product_path(Vendor.find_by(id: current_user.vendor_id).name) %></small></h1>
		<table class="admin-table">
			<tr>
				<th>Product Name</th>
			</tr>
		<% @vendor.products.order(:name).each do |x| %>
			<tr>
				<td><%= link_to x.name, vendor_product_path(x.vendor.name,x) %></td>
				<td><%= link_to "Edit", edit_vendor_product_path(@vendor.name,x.id)%></td>
				<td><%= link_to "Delete",vendor_product_path(@vendor.name,x.id), method: :delete, data: {confirm: "Do you wish to delete this Product?"} %></td>
			</tr>
		<% end %>
		</table>
	</div>
	<div class="col-md-6">
	</div>
</div>
<% end %>
