<div class="search-wrap">
	<%= search_form_for @q, url:administration_path do |f| %>
		<%= f.search_field :name_cont, :class => "search-input", placeholder: "search..." %>
		<span class="glyphicon glyphicon-search search-glass"></span>
	<% end %>
</div>
<div id="vendor-head">
	<div id = "vendor-label">Vendor</div>
	<%= link_to new_vendor_path do %>
		<button type="button" class="btn btn-success pull-right add-vendor">Add New</button>
	<% end %>
</div>

<% if !@r.any? %>
	<div id="null-results"><%= "No results found" %></div>
<% end %>

<% if @r.any? %>
		<table class="admin-table-half">
			<% @r.order(:name).each do |x| %>
				<% if x.active == 1%>
					<tr class="active-vendor">
						<td><%= link_to x.name, administration_vendor_path(x) %></td>
						<td><%= link_to edit_vendor_path(x) do %>
						<span class="glyphicon glyphicon-pencil"></span>
						<% end %></td>
						<td><%= link_to "Disable", administration_disable_vendor_path(x), data: {confirm: "Are you sure?"} %>
					</tr>
				<% elsif %>
					<tr>
						<td class="inactive-vendor"><%= link_to x.name, administration_vendor_path(x) %></td>
						<td></td>
						<td><%= link_to "Enable", administration_enable_vendor_path(x), data: {confirm: "Are you sure?"} %>
					</tr>				
				<% end %>
			<% end %>
		</table>
<%= paginate @r %>
<% else %>
		<table class="admin-table-half">
			<tr>
				<th>Vendor</th>
			</tr>
			<% @vendors.order(:name).each do |x| %>
				<% if x.active == 1%>
					<tr class="active-vendor">
						<td><%= link_to x.name, administration_vendor_path(x) %></td>
						<td><%= link_to "Disable", administration_disable_vendor_path(x), data: {confirm: "Are you sure?"} %>
					</tr>
				<% elsif %>
					<tr>
						<td class="inactive-vendor"><%= link_to x.name, administration_vendor_path(x) %></td>
						<td><%= link_to "Enable", administration_enable_vendor_path(x), data: {confirm: "Are you sure?"} %>
					</tr>				
				<% end %>
			<% end %>
		</table>
	<%= paginate @vendors %>
<% end %>
