<% if @right %>
<div class="container">
	<div class="row">
		<h1>My Profile</h1>
		<%= bootstrap_form_for @user, :html => {class: "col-sm-6 login-form"} do |f| %>
			<%= f.email_field :email, :readonly => true %>
			<%= f.text_field :firstname, label: "First Name" %>
			<%= f.text_field :lastname, label: "Last Name" %>
		  	<%= f.password_field :password,label: "Password", skip_required: true  %>
		  	<%= f.password_field :password_confirmation,label: "Confirm", skip_required: true  %>
		  	<%= f.submit "Update" %>
		<% end %>
	</div>
</div>
<% elsif%>
<div class="container">
	<div class="row center">
		<h1>
			<%= @user.firstname + " " + @user.lastname + '\'s Profile' %>
		</h1>
			<% if @user.locked_at && @user.locked_at > 15.minutes.ago %>
				<div class="alert alert-warning">
				<%= "Account Locked for " + timeDiff(@user).to_s + " more minutes"%>
				</div>
			<% end %>
	</div>
	<div class="row">
		<%= bootstrap_form_for @user, :html => {class: "col-sm-6 login-form"} do |f| %>
			<%= f.check_box :active,{},1 %>
			<%= f.email_field :email, :readonly => true %>
			<%= f.text_field :firstname, label: "First Name" %>
			<%= f.text_field :lastname, label: "Last Name" %>
		  	<%= f.submit "Update" %>
		<% end %>
	</div>
</div>
<% end %>
