
<div class="container">
	<div class="row">
		<% if flash[:danger] %>
		<p><%= flash[:danger] %></p>
		<% end %>
		<%= bootstrap_form_for @user, :html => {class: "col-sm-6 login-form"} do |f| %>
			<%= f.email_field :email %>
			<%= f.text_field :firstname, label: "First Name" %>
			<%= f.text_field :lastname, label: "Last Name" %>
		  	<%= f.submit "Create User", class: "btn btn-info" %>
		<% end %>
	</div>
</div>

