
    <div class="row">
        <h1 class="center">Search</h1>
        <div id ="search-container">
        <%= form_tag search_path, method: :get, class:"search-wrap" do %>
          <%= text_field_tag :q, params[:q], class:"search-input", placeholder: "search..." %>
          <span class="glyphicon glyphicon-search search-glass"></span>
        <% end %>
        <% if !@refs.any? && !@products.any? && !@vendors.any? %>
            <div id = "null-results">No results found</div>
            <table id = "table-search-result">
                <thead>
                    <th>Result</th>
                    <th>Type</th>
                </thead>
                <tbody>
            <% @refs_all.each do |x| %>
                <tr>
            	<td><%= link_to x.full_ref, reference_path(x.short_ref) %></td>
            	<td>Control Reference</td>
            	</tr>
            <% end %>
            <% @products_all.each do |x| %>
                <tr>
            	<td><%= link_to x.name, vendor_product_path(x.vendor.name,x.id) %></td>
            	<td>Product</td>
            	</tr>
            <% end %>
            <% @vendors_all.each do |x| %>
                <tr>
            	<td><%= link_to x.name, vendor_path(x.name) %></td>
            	<td>Vendor</td>
            	</tr>
            <% end %>
                </tbody>
            </table>
        <% else %>
            <table id = "table-search-result">
                <thead>
                    <th>Result</th>
                    <th>Type</th>
                </thead>
                <tbody>
            <% @refs.each do |x| %>
                <tr>
            	<td><%= link_to x.full_ref, reference_path(x.short_ref) %></td>
            	<td>Control Reference</td>
            	</tr>
            <% end %>
            <% @products.each do |x| %>
                <tr>
            	<td><%= link_to x.name, vendor_product_path(x.vendor.name,x.id) %></td>
            	<td>Product</td>
            	</tr>
            <% end %>
            <% @vendors.each do |x| %>
                <tr>
            	<td><%= link_to x.name, vendor_path(x.name) %></td>
            	<td>Vendor</td>
            	</tr>
            <% end %>
                </tbody>
            </table>
        <% end %>
        </div>
    </div>
