<div class = "container-fluid">
    <div class="row">
<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :q, params[:q] %>
<% end %>
<div id ="search-container">
<% if !@refs.any? && !@products.any? && !@vendors.any? %>
    <div>No results found</div>
<% else %>
    <table id = "table-search-result">
        <thead>
            <th>Result</th>
            <th>Type</th>
        </thead>
        <tbody>
    <% @refs.each do |x| %>
        <tr>
    	<td><%= link_to x.full_ref, reference_path(x.short_ref) %></td>
    	<td>Control Reference</td>
    	</tr>
    <% end %>
    <% @products.each do |x| %>
        <tr>
    	<td><%= link_to x.name, vendor_product_path(x.vendor.name,x.id) %></td>
    	<td>Product</td>
    	</tr>
    <% end %>
    <% @vendors.each do |x| %>
        <tr>
    	<td><%= link_to x.name, vendor_path(x.name) %></td>
    	<td>Vendor</td>
    	</tr>
    <% end %>
        </tbody>
    </table>
<% end %>
        </div>
    </div>
</div>