<div class="row">
	<%= search_form_for @q do |f| %>
	  <%= f.search_field :name_or_products_name_or_products_description_cont %>
	  <%= f.submit "Search", :class => 'savebtn form-group row' %>
	<% end %>

	<% if !@r.any? %>
		<div id="null-results"><%= "No results found" %></div>
	<% end %>
	
	<% if @r.any? %>
		<ul class="vendor-list">
			<% @r.each do |vendor|%>
				<%= link_to vendor_path(vendor) do %>
					<li class="vendor-list-item">
						<% if vendor.image.file? %>
							<%= image_tag vendor.image.url %><br/>
						<% end %>
						<div><%= vendor.name[0...52] %></div>
					</li>
				<% end %>
			<% end %>
		</ul>
	<%= paginate @r %>
	<% else %>
	<ul class="vendor-list">
			<% @vendors.each do |vendor|%>
				<%= link_to vendor_path(vendor) do %>
					<li class="vendor-list-item">
						<%= image_tag vendor.image.url %><br/>
						<%= vendor.name[0...52] %>
					</li>
				<% end %>
			<% end %>
		</ul>
		<%= paginate @vendors %>
	<% end %>
</div>