<div class="searching">
	<%= search_form_for @q do |f| %>
	  <%= f.search_field :full_ref_or_specification_or_products_name_or_products_description_cont, :class => "searching-field" %>
	  <%= f.submit "Search", :class => 'savebtn form-group row' %>
	<% end %>
</div>
<div id="table-container">
<% if !@r.any? %>
	<div id="null-results"><%= "No results found" %></div>
<% end %>

<% if @r.any? %>
<table id = "reference-table-results">
	<thead>
		<tr>
			<th>Control Reference</th>
			<th>Control Specification</th>
		</tr>
	</thead>
	<tbody>
	<% @r.each do |ref|%>
	<tr>
		<td><%= link_to ref.full_ref, reference_path(ref) %></td>
		<td><%= strip_tags(ref.specification) %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<table id = "reference-table-results">
	<thead>
		<tr>
			<th>Control Reference</th>
			<th>Control Specification</th>
		</tr>
	</thead>
	<tbody>
	<% @references.each do |ref|%>
	<tr>
		<td><%= link_to ref.full_ref, reference_path(ref) %></td>
		<td><%= strip_tags(ref.specification) %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>
</div>


