<h1>Hello</h1>

<%= search_form_for @q do |f| %>

  <%= f.search_field :full_ref_cont %>

  <%= f.submit %>
<% end %>


<% @r.each do |x|%>
	<%= x.full_ref %>
<% end %>







<table>
	<tr>
		<th>Control Reference</th>
	</tr>
	<% @references.each do |ref|%>
	<tr>
		<td><%= link_to ref.full_ref, reference_path(ref) %></td>
	</tr>
	<% end %>
</table>
<%= paginate @references %>
