<p class="return"><%= link_to "<<< Return to References",references_path %></p>
<h1 class="center">Control Reference: <%= @reference.full_ref %></h1>
<div class="container">
	<div class="row center spec">
		<p><%= @reference.specification.html_safe %></p>
	</div>
	<% if @products.present? %>
	<div class="row">
		<h3>Related Products</h3>
		<% @products.each do |product| %>
		<div class="products">
		<%= link_to vendor_path(product.vendor) do %>	
			<%= image_tag product.vendor.logo, class: "product-logo" %>
		<% end %>
		<% if product.url.present? %>
		<%= link_to product.name,product.url %>
		<% else %>
		<%= link_to product.name,vendor_path(product.vendor) %>
		<% end %>
		<%= product.description[0...150] %>
		</div>
		<% end %>
		<%= paginate @products %>
	</div>
	<% end %>
</div>
