<p class="return"><%= link_to "<<< Return to References",references_path %></p>
<h1 class="center"><%= @reference.full_ref %></h1>
<div class="container">
	<div class="row center spec">
		<p><%= @reference.specification.html_safe %></p>
	</div>
	<div class="row">
		<h1 class="product-head">Related Products</h1>
	<% if @products.present? %>
		<table class="products">
			<% @products.each do |product| %>
				<%if product.vendor.active == 1%>
				<tr>
				<td><%= link_to vendor_path(product.vendor) do %>	
					<%= image_tag product.vendor.logo, class: "product-logo" %></td>
				<% end %>
				<td><%= link_to product.name,vendor_product_path(product.vendor,product) %></td>
				<td><%= product.description[0...100] %>
				<%= link_to "[more]",vendor_product_path(product.vendor,product) %></td>
				</tr>
				<% end %>
			<% end %>
		</table>
		<%= paginate @products %>
	<% else %>
	<div>No Products Available</div>
	<% end %>
	</div>
</div>
