<% if super? || admin? %>
	<%= bootstrap_form_for @product, url: vendor_products_path, :html => {class: "col-md-6 ref-form"} do |f| %>
		<%= f.alert_message "Please fix the errors below." %>	
		<%= f.text_field :name %>
	  	<%= f.text_area :description %>
	  	<%= f.url_field :url, label: "Product URL" %>
	  	<%= f.collection_check_boxes :reference_ids, Reference.all, :id, :full_ref, :label => "References" %>
	  	<div id = "ref-paginiation">
	  		<div id = "ref-back">Back</div>
		  	<div id = "ref-next">Next</div>
		  	<div id = "ref-all">All</div>
	  	</div>
	  	<%= f.submit "Submit", class: "btn btn-success product-btn" %>
	<% end %>
	<div id="refs-preview-container" class="col-sm-6 col-lg-4">
		<div id="ref-preview-inner">
			<% @refs.each do |x| %>
				<div class="ref-list" id=<%= "ref-#{x.short_ref}"%>>
					<div class="ref-preview-title">
						<h3 class="center"><%= x.full_ref %></h3>
					</div>
					<div class="ref-preview-body"><%= x.specification.html_safe %></div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
