<% if admin? || super? %>
	<% if params[:notice] %>
	<p><%= params[:notice] %></p>
	<% end %>
	<%= bootstrap_form_for @product, url: vendor_product_path, :html => {class: "col-sm-6 ref-form"} do |f| %>
		<%= f.alert_message "Please fix the errors below." %>	
		<%= f.text_field :name %>
	  	<%= f.text_area :description %>
	  	<%= f.url_field :url, label: "Product URL" %>
	  	<%= f.collection_check_boxes :reference_ids, Reference.all, :id, :full_ref, :label => "References"  %>
	  	<%= f.submit "Submit" %>
	<% end %>
<% end %>
