<div class="container">
	<div class="row center">
		<%= link_to vendor_path(@product.vendor) do %>
		<%= image_tag @product.vendor.logo, class:"product-logo-page" %>
		<% end %>
		<h1 class="center"><%= @product.name %></h1>
		<% if @product.url.present? %>
		<div><%= link_to "Website",@product.url, :target => "_blank" %> </div>
		<% end %>
	</div>
	<div class="row product-divide">
		<div class="col-md-6">
			<h1>Description</h1>
			<%= simple_format(@product.description) %>
		</div>
		<div class="col-md-6">
			<h1>Related References</h1>
			<% if @product.references.size > 0 %>
			<ul>
				<% @product.references.order(:full_ref).each do |x| %>
				<li> <%= link_to x.full_ref,reference_path(x) %> </li>
				<% end %>
			</ul>
			<% else %>
			<p>No Associated References</p>
			<% end %>
		</div>
	</div>
</div>
