<div id="open_menu">
	<span class="glyphicon glyphicon-align-justify"></span>
</div>
<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li id="close_menu">
                	Close
                </li>
                <% if !logged_in? %> <!-- If Not Logged in, Show log-in button-->
	                <li class="sidebar-brand" id="login">
	                    <%= link_to login_path do %>
	                       <span class="glyphicon glyphicon-user"></span>
	                        Log-in
	                    <% end %>
	                </li>
                <% elsif logged_in? %> <!-- Else if a user is logged in, show logout button-->
                 	<li class="sidebar-brand">
	                    <%= link_to logout_path, method: :delete do %>
	                       <span class="glyphicon glyphicon-hand-left"></span>
	                        Log-out
	                    <% end %>
	                </li>
                <% end %>
                <li><%= link_to "Home", root_path %></li>
               	<li><%= link_to "References", references_path %></li>
		        <li><%= link_to "Vendors", vendors_path %></li>
                <li><%= link_to "Contact Us", new_message_path %></li>
                <% if admin? || super? %>
                <li class="divide"></li>
                <li><%= link_to "My Profile", edit_user_path(current_user.id), :class => "admin-link" %></li>
                <li><%= link_to "Administration", administration_path, :class => "admin-link" %></li>
                <% end %>
            </ul>
       <div id="navleft-logo">
       	<%= image_tag "hitrust_black" %>
       </div>
</div>
