<!DOCTYPE html>
<html>
  <head>
    <title>HITRUST - Products and Services Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Kreon|Open+Sans", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="wrapper">
	  	<%= render 'layouts/navbarleft' %>
	    <div id="page-content-wrapper">
	    	<div class="container">
	    		<div class="row">
	    	<% flash.each do |key, msg| %>
			  <%= content_tag :div, msg, :class => "alert alert-"+key %>
			<% end %>
				</div>
			</div>
	    <%= yield %>
	    <%= render 'layouts/footer' %>
	    </div>
	</div>
<%= javascript_include_tag "/assets/nav" %>
  </body>
</html>